<!-- Form partials http://edgeguides.rubyonrails.org/layouts_and_rendering.html -->

<!-- The first form_for arg should be an object or symbol with the same name as the instance variable will work -->
<!-- form_for helper http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-form_for -->
<!-- Why the path doesn't need to be specified http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-form_for-label-Resource-oriented+style -->
<%= form_for @article do |f| %>

  <!-- Rails automatically wraps fields that contain an error with a <div class="field_with_errors"> -->
  <!-- use class to style problematic fields -->
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
