<h1>Listing articles</h1>
<%= link_to 'New Article', new_article_path %>
<hr>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <!-- Pass in named route and options to the link_to helper -->
      <!-- these are HTML5 attributes -->
      <!-- the confirmation is handled by jquery_ujs, shipped with rails 5 -->
      <!-- UJS http://edgeguides.rubyonrails.org/working_with_javascript_in_rails.html -->
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: "Sure you want to delete #{article.title}?" }
          %>
      </td>
    </tr>
  <% end %>
</table>
